	<ion-view view-title=" Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class=" page-dashboard">
		
		<div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/lnn/home" >
					<i class="icon ion-android-home" ></i>
					<p>{{ "Home" | translate }}</p>
				</a>
				<a class="col-33 no-border light positive-900-bg ink"  ng-href="#/lnn/news_sources" >
					<i class="icon ion-grid" ></i>
					<p>{{ "News Sources" | translate }}</p>
				</a>
				<a class="col-33 no-border light calm-bg ink"  ng-href="#/lnn/about_lnn" >
					<i class="icon ion-android-bulb" ></i>
					<p>{{ "About LNN" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light calm-900-bg ink" ng-click="openURL('market://details?id=com.legendapp.thewardinnovationgroup.lnn')" >
					<i class="icon ion-android-star" ></i>
					<p>{{ "Rate Us" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>
		<br/>
		<br/>
		<br/>
		<br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
